(
  axes: {
    "move_x": (
        pos: Key(D),
        neg: Key(A),
    ),
    "move_y": (
        pos: Key(E),
        neg: Key(Q),
    ),
    "move_z": (
        pos: Key(S),
        neg: Key(W),
    ),
    "left_paddle": (pos: Key(I), neg: Key(K)),
    "right_paddle": (pos: Key(O), neg: Key(L)),
  },
  actions: {},
)
